<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин электроники</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js" defer></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <h1>Магазин электроники</h1>
            <p>Мой проект на курсе "Продвинутый JavaScript"</p>
        </div>

        <div class="navbar">
            <links-in-menu></links-in-menu>

            <!-- Поле поиска -->
            <div class="search">
                <input type="text" class="goods-search" v-model="searchLine">
                <btn-component add_class="search-button" @click_handler="filterItems">
                    Искать
                </btn-component>
            </div>
            <div class="basket"> 
                <btn-component add_class="right" @click_handler="isVisibleCart=!isVisibleCart">
                    Корзина ({{ formatPrice(totalInBasket) }} руб.)
                </btn-component>
            </div>
        </div>

        <div class="row">
            <!-- Левая панель -реклама -->
            <div class="side">
                <advertisement></advertisement>
            </div>
            
            <!-- Основная область -->
            <div class="main">

                <spinner v-if="!dataState"></spinner>
                
                <!-- ТОВАРЫ В КАТАЛОГЕ -->
                <div class="catalog">
                    <h2>Каталог товаров:</h2>
                    <div class="filter_sample" >
                        <span>Динамическая фильтрация данных каталога:</span> 
                        <dynamic-search :search_value="searchLine" @update:search_value="filterItemsDyn($event)"></dynamic-search>   
                    </div>
                    
                    <err-get-data v-bind:err_data="errData"></err-get-data>
                    <!-- New goods list -->
                    <products-list v-bind:filtered_items="filteredItems" v-bind:data_state="dataState"></products-list>  
                    <h1 class="test">ТЕСТ - Итого по показанным товарам в каталоге: {{ formatPrice(totalPriceItems) }}</h1>
                </div>
            
                <!-- КОРЗИНА -->
                <basket v-bind:items_in_basket="itemsInBasket" v-bind:total_in_basket="formatPrice(totalInBasket)" 
                    v-if="!isVisibleCart" @close_btn="isVisibleCart=!isVisibleCart"></basket>

                <!-- БЛОГ МАГАЗИНА (для визуальной наглядности страницы) -->
                <our-blog></our-blog>
            </div>
        </div>
        <div class="footer">
            <div class="copy">
                <span>&copy; Все права защищены. </span>
            </div>
        </div>
    </div>

</body>

</html>